#container{
    display: flex;
    flex-wrap:wrap ;
    width: 480px;
    height: 480px;

}

.cell{
    flex: 0 0 calc(100% / 16);
    height:calc(480px/16);
    box-sizing: border-box; 
    border: 2px solid black;
       background-color: rgb(255, 255, 255);
 

}