body{
    display: flex;
    flex-direction: column;   /* stack title and grid vertically */
    align-items: center;      /* center horizontally */
    margin: 0;
    background-color: var(--color);
    min-height: 100vh;
   
}

:root{
    --color:#00c3ffd9;
    --color2:#614543;
    --color3:#62494c;
    --color4:#2a3638;
    --color5:#4bca49;
h1{
    background-color: rgba(255, 255, 255, 0);
    font-family:Arial, Helvetica, sans-serif ;
}
#btn{
background-color: #f7fff7;
padding: 25px;
}

#container{
    display: flex;
    flex-wrap:wrap ;
    width: 800px;
    height: 8 c00px;
    padding-bottom: 2;
}
.cell {
  aspect-ratio: 1 / 1;
}



.cell{
    flex: 0 0 calc(100% / 4);

    box-sizing: border-box; 
    border: 1px solid black;
       background-color: rgb(255, 255, 255);
}